<h4 class="text-center">Registre-se e mostre sua decoração ao mundo</h4>

<form class="form mt-4" [formGroup]="newUserForm" (submit)="register()">
  <div class="form-group mb-2">
    <input type="text" class="form-control" placeholder="E-mail" formControlName="email">
    <app-message
      *ngIf="
        newUserForm.get('email')?.errors?.required &&
        newUserForm.get('email')?.touched
      "
      message="E-mail obrigatório"
    ></app-message>
    <app-message
      *ngIf="
        newUserForm.get('email')?.errors?.email &&
        newUserForm.get('email')?.touched
      "
      message="E-mail no formato incorreto"
    ></app-message>
  </div>

  <div class="form-group mb-2">
    <input type="text" class="form-control" placeholder="Nome completo" formControlName="fullName">
    <app-message
      *ngIf="
        newUserForm.get('fullName')?.errors &&
        newUserForm.get('fullName')?.touched
      "
      message="Nome inválido"
    ></app-message>
  </div>

  <div class="form-group mb-2">
    <input type="text" class="form-control" placeholder="Usuário" formControlName="userName">
    <app-message
      *ngIf="
        newUserForm.get('userName')?.errors?.lowercase &&
        newUserForm.get('userName')?.touched
      "
      message="Usuário deve ser em letra minúscula"
    ></app-message>
    <app-message
      *ngIf="newUserForm.get('userName')?.errors?.existingUser"
      message="Usuário já existe"
    ></app-message>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Senha" formControlName="password">
  </div>

  <div class="d-grid mt-3">
    <button class="btn btn-primary">Cadastrar-se</button>
  </div>
</form>

<p>Já é um usário? <a [routerLink]="['']">Faça login.</a></p>
